# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# Build output
build/

# Test directories and outputs
cypress/screenshots/
cypress/videos/
cypress/downloads/

# MacOS
.DS_Store

# Linux
*.pid
*.seed

# Visual Studio Code
.vscode/
*.code-workspace

# Environment variables
.env
.env.*.local

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# Coverage reports
coverage/

# Cache directories
.cache/
.next/
out/

# Static files
public/*.js.map
public/*.css.map

# NPM and Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
Thumbs.db
Desktop.ini

# Cypress
cypress.json
cypress.env.json

# Project structure-specific
src/assets/*.tmp
src/assets/*.temp
src/theme/*.css.map
src/theme/*.scss.map
src/theme/*.sass.map
src/theme/*.tmp
src/theme/*.temp

# Ignore built files
build/
dist/

