# For ignoring the virtual environment
venv/  

myenv/  
venv/

# ignoring the log files
data/*.log  

# ignoring whole dir for now
data/
.myenv/
# Ignore everything in the docs directory
/docs/*
# But do not ignore the docs directory itself
!/docs/

# Optional: Do not ignore a placeholder file if needed
!/docs/.gitkeep
