# General
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
.DS_Store
Thumbs.db

# Python
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.sqlite3
db.sqlite3
/media/
staticfiles/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon\r

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# PyCharm
.idea/
*.iml

# Visual Studio Code
.vscode/
*.code-workspace

# Linux
*.pid
*.seed

# System Files
*.bak
*.tmp
*.temp
*.orig

# Coverage
.coverage
*.cover
.hypothesis/
.pytest_cache/

# Migrations
migrations/

data/