.env/
.myenv/
backend/heritage_graph/heritage_data/migrations/*.py

__pycache__/
*.pyc

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
.env
.env.*

# Pip
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# mypy
.mypy_cache/

# Pytest
.cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# Virtual envs
env/
venv/
ENV/
VENV/
.venv/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Docker
*.pid
*.seed
*.seed.*
*.bak
docker-compose.override.yml


# Others
*.swp
.DS_Store
