
  
  .custom-button {
    background-color: #0056b3 ;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .custom-button:hover {
    background-color:#007bff;
  }
  
  .nav-link {
    text-decoration: none;
    color: #007bff;

  }
  
  .nav-link:hover {
    text-decoration: underline;
  }

  .headerNav{
    display: flex;
    justify-content:space-between;
    margin: 5px 8px;
  }


  


  /* Media Queries */
@media (max-width: 768px) {
  .button-container {
    justify-content: center;
  }

  .nav-link {
    margin: 0 5px;
    font-size: 16px;
  }
}

  